div.flex-dashboard{
    display: flex;
    flex-direction: row;
    height: 100%;
}


sidebar{
     display: block;
     height: 100%;
     background-color: white;
     
}


sidebar .sidebar-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 69px;
    height: 130px;
    border: 1px solid rgba(0, 0, 0, .0625);
}


sidebar .sidebar-title i{
    height: 40px;
    width: 40px;
    padding: 10px 30px;
}

sidebar .sidebar-title h2{
    font-size: 20px;
    margin-top: 10px;
    padding: 10px 69px;
}

div.menu{
    border-right: 1px solid rgba(0, 0, 0, .0625);

}

div.menu ul{
    list-style-type: none;

}

div.menu ul li{
    
    padding: 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.menu ul li svg{
    color: Black;
    font-size: 30px;
}

div.menu ul li a{
    color:#72777a;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

div.menu ul li a:hover{
    color: #4d4d4d;
}

